/Java/Databases/JDBC/JDBC + DAO full example/JDBC_DAO_Example/target/
/Java/Spring Framework/Spring Project Templates/Spring Data MVC FreeMarker (Annotations configuration)/Spring-Data-MVC-Freemarker-Template/target/
/Java/Architecture and Design/Architectural approaches/Proof of concepts/Clean Architecture for CRUD+UI application/clean-architecture--proof-of-concept/target/
/Java/Architecture and Design/Architectural approaches/Domain Object Persistence Approaches/Implementation of approaches/All-in-one-model Approach/support-ticket-system/target/
/Java/Architecture and Design/Architectural approaches/Domain Object Persistence Approaches/Implementation of approaches/Mapping Approach/support-ticket-system/target/
/Java/Architecture and Design/Architectural approaches/Domain Object Persistence Approaches/Implementation of approaches/Inheritance Approach/support-ticket-system/target/
/Java/Architecture and Design/Architectural approaches/Domain Object Persistence Approaches/Implementation of approaches/All-in-one Approach/support-ticket-system/target/