/Java/Databases/JDBC/JDBC + DAO full example/JDBC_DAO_Example/target/
/Java/Spring Framework/Spring Project Templates/Spring Data MVC FreeMarker (Annotations configuration)/Spring-Data-MVC-Freemarker-Template/target/